<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        


        <div>
            @RenderBody()
        </div>


        <div></div>
    </div>
</body>
</html>
