
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    <input type="hidden" name="URL" value="@ViewBag.URL" />
    <input type="text" class="form-control" value="@Model.Uname" placeholder="Username" name="Uname" />
    <span class="text-danger">@Html.ValidationMessage("Uname")</span>
    <input type="password" class="form-control" placeholder="Password" name="Password" />
    <span class="text-danger">@Html.ValidationMessage("Password")</span>
    <input type="submit" value="Login" class="btn btn-success" />
</form>
