
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_OutlerLayout.cshtml";
}

<h2>SignUp</h2>
<form action="" method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="text" name="Email" placeholder="Email" class="form-control" />
    Gender:
    <input type="radio" name="Gender" value="Male" />Male
    <input type="radio" name="Gender" value="Female" />Female
    <br />
    Profession:
    <select class="form-control" name="Profession">
        <option disabled selected>Select</option>
        <option>Student</option>
        <option>Business</option>
        <option>Teacher</option>
    </select>
    Hobbies:
    <input type="checkbox" value="Travelling" name="Hobbies" />Travelling
    <input type="checkbox" value="Sports" name="Hobbies" />Sports
    <input type="checkbox" value="Gaming" name="Hobbies" />Gaming
    <br />
    <input type="submit" value="Register" class="btn btn-primary" />
</form>

