@if (TempData["Msg"] != null) { 
    <span>@TempData["Msg"]</span>
}

<div>
    <a href="/Admin/Orders" class="btn btn-primary">Orders</a>
    <a href="/Customer/Index" class="btn btn-primary">Customers</a>
</div>