
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post">
    <input type="text" name="Name" value="@Model.Name"  class="form-control"/>
    <input type="submit"  class="btn btn-success" value="Edit"/>
</form>

