
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <div class="col-md-4">
        Recents <br />
        @foreach (var item in ViewBag.Recent) { 
            <span class="alert alert-info">@item.Title</span> <br /><br /><br />
        }
    </div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <tr>
                <th>Title</th>
                <th>Posted On</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="/dashboard/comments/@item.Id">@item.Title</a></td>
                    <td>@item.PostTime</td>
                </tr>
            }
        </table>
    </div>
</div>

