
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

@if (TempData["Msg"] != null) { 
    <span class="alert alert-success" >@TempData["Msg"]</span>
}
<h2>Index</h2>

